@import 'src/variables.global';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noPosts {
  height: calc(100% - #{$home-size});

  .introduction {
    margin: 0;
  }
}

.introduction {
  font-size: x-large;
  margin: 4rem 0 6rem 0;
}
