@import 'src/blocks.global';

.main {
  @extend %invisibleScrollbar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.noPosts {
  height: calc(100% - #{$home-size});

  .introduction {
    margin: 0;
  }
}

.introduction {
  @extend %centered;
  font-size: x-large;
  margin: 4rem 0;

  @include media('>=tablet') {
    text-align: center;
    margin-bottom: 6rem;
  }
}
