@import 'src/blocks.global';

.main {
  @extend %invisibleScrollbar;
  height: calc(100vh - $home-size);
}

.article {
  $width: 55rem;
  $padding: 5rem;
  $background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, transparent, $background $padding, $background #{$width + $padding}, transparent);
  max-width: $width + 2 * $padding;
  padding: $padding;
  margin: 0 auto;
  -webkit-mask-image: linear-gradient(to right, transparent, rgba(0,0,0,1) 2rem), linear-gradient(to left, transparent, rgba(0,0,0,1) 2rem);

  header {
    font-style: italic;
    text-align: right;
    margin-top: 8px;
  }

  h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: -2.5px;
    line-height: 1.04;
    letter-spacing: -.028em;
    margin-top: 39px;
  }

  h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin-left: -2px;
    line-height: 1.15;
    letter-spacing: -.02em;
    margin-top: 53px;
  }

  p {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin-top: 38px;
  }
}
