@import 'src/blocks.global';
@import 'src/mixins.global';

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.main {
  outline: 0;
}

.article {
  outline: 0;
  margin: 6rem auto;
  max-width: 55rem;
  width: calc(11/12 * 100%);
  color: rgba(white, 0.85);

  header {
    font-style: italic;
    text-align: right;
    margin-top: 24px;
    opacity: 0.7;
  }

  p, ul, ol {
    @include smart-underline($background-color-light, white, rgb(5, 100, 215), 100%);
  }

  h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: -2.5px;
    line-height: 1.04;
    letter-spacing: -.028em;
    margin-top: 39px;
  }

  h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin-left: -2px;
    line-height: 1.15;
    letter-spacing: -.02em;
    margin-top: 53px;
  }

  h3 {
    --x-height-multiplier: 0.363;
    --baseline-multiplier: 0.157;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin-left: -1.5px;
    margin-top: 30px;
    line-height: 1.22;
    letter-spacing: -.018em;
  }

  h4 {
    --x-height-multiplier: 0.363;
    --baseline-multiplier: 0.157;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-left: -1.5px;
    margin-top: 30px;
    line-height: 1.22;
    letter-spacing: -.018em;
  }

  p {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin-top: 38px;
  }

  em {
    font-style: italic;
  }

  ul {
    margin-top: 29px;
    list-style-type: initial;

    li {
      --x-height-multiplier: 0.35;
      --baseline-multiplier: 0.179;
      letter-spacing: .01rem;
      font-weight: 400;
      font-style: normal;
      font-size: 21px;
      line-height: 1.58;
      letter-spacing: -.003em;

      margin-left: 30px;
      margin-bottom: 14px;
    }
  }

  strong {
    --x-height-multiplier: 0.35;
    --baseline-multiplier: 0.179;
    letter-spacing: .01rem;
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
  }

  img {
    margin: 0 auto;
  }

  blockquote {
    font-weight: 400;
    font-style: italic;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    border-left: 3px solid rgba(255,255,255,.8);
    padding-left: 20px;
    margin-left: -23px;
    padding-bottom: 2px;
  }

  ol {
    // counter-reset: post;
    margin-top: 29px;
    padding: 0;
    list-style-type: decimal;
    -webkit-font-feature-settings: "liga" on,"lnum" on;
    // list-style: none;
    // list-style-image: none;

    > li {
      font-weight: 400;
      font-style: normal;
      font-size: 21px;
      line-height: 1.58;
      letter-spacing: -.003em;
      margin-left: 30px;
      margin-bottom: 29px;

      p:first-child {
        display: inline;
        margin-top: 0;
      }

      p:nth-child(2) {
        margin-top: 14px;
      }

      ul {
        margin-top: 14px;
      }

      // &:before {
      //   -webkit-font-feature-settings: "liga" on,"lnum" on;
      //   padding-right: 12px;
      //   counter-increment: post;
      //   content: counter(post) ".";
      // }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  code, pre {
    font-family: Menlo,Monaco,Inconsolata,"Courier New",Courier,monospace;
    background: rgba(0,0,0,.3);
  }

  code {
    padding: 3px 4px;
    margin: 0 2px;
  }

  pre {
    font-size: 18px;
    margin-top: 38px;

    padding: 20px;
    white-space: pre-wrap;

    overflow: auto;

    code {
      background: transparent;
    }
  }
}
