@import 'src/blocks.global';

.main {
  @extend %invisibleScrollbar;
  height: calc(100vh - $home-size);
}

.article {
  $width: 55rem;
  $padding: 5rem;
  $background: rgba($background-color-light, 0.8);
  background: linear-gradient(to right, transparent, $background $padding, $background calc(100% - #{$padding}), transparent);
  max-width: $width + 2 * $padding;
  padding: 5rem $padding;
  margin: 0 auto;
  width: calc(100%);

  header {
    font-style: italic;
    text-align: right;
    margin-top: 8px;
  }

  h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: -2.5px;
    line-height: 1.04;
    letter-spacing: -.028em;
    margin-top: 39px;
  }

  h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin-left: -2px;
    line-height: 1.15;
    letter-spacing: -.02em;
    margin-top: 53px;
  }

  p {
    font-weight: 400;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin-top: 38px;
    display: flex;
  }

  img {
    margin: 0 auto;
  }

  blockquote {
    font-weight: 400;
    font-style: italic;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    border-left: 3px solid rgba(255,255,255,.8);
    padding-left: 20px;
    margin-left: -23px;
    padding-bottom: 2px;
  }
}
