@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,500");

@font-face {
  font-family: "Womby";
  src: url("./Womby-Regular.eot");
  src: url("./Womby-Regular.eot?#iefix") format("embedded-opentype"),
    url("./Womby-Regular.woff2") format("woff2"),
    url("./Womby-Regular.ttf") format("truetype"),
    url("./Womby-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
