@import 'src/variables.global';
@import 'src/include-media.global';

$base-size: 4rem;

.hero {
  h1, h2 {
    font-family: 'Lato', sans-serif;
    line-height: 1;
    margin: 0;
    font-weight: 200;
    text-align: center;
  }

  h1 {
    $font-size: $base-size;
    font-size: $font-size;
    position: relative;
    bottom: $home-size;

    @include media('<=tablet') {
      font-size: 1/2 * $font-size;
    }
  }

  h2 {
    $font-size: $base-size - 2rem;
    font-size: $font-size;
    @include media('<=tablet') {
      font-size: 3/4 * $font-size;
    }
  }
}
