@import 'assets/fonts/index.css';
@import 'src/blocks.global';
@import 'src/mixins.global';
@import 'src/include-media.global';

$segment-size: calc(100vh - #{$home-size} - #{2 * $home-offset}});


%accentLink {
  color: $accent-color;
  font-weight: 400;
  transition: text-shadow 0.3s, color 0.3s;

  &:hover {
    color: white;
    text-shadow: 0 0 1rem $accent-color;
  }
}

.homepage {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.homepageSegments {
  max-height: $segment-size;
  @extend %invisibleScrollbar;

  > * {
    @extend %centered;
    min-height: $segment-size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    p {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 200;
      line-height: 1.5;
    }

    @include media('<=desktop') {
      min-height: calc(100vh - 3.5rem - #{$home-offset}});
      &:not(:first-child) {
        padding-bottom: 3rem;
        padding-top: 3rem;

        &.testimonials {
          padding: 0;
        }
      }
    }

    @include media('<=tablet') {
      min-height: calc(100vh - 4.5rem - #{$home-offset}});
    }
  }

  @include media('<=desktop') {
    margin-top: -2rem;
    padding-right: $scrollbar-hiding-offset;
  }
}

:global(#work) {
  .workHeader {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }

  strong {
    font-weight: 400;
  }
}

.blogLink {
  text-align: center;
  a {
    @extend %accentLink;
  }
}

footer {
  transition: opacity 0.3s 0.1s;
  opacity: 1;
}

.contact svg {
  transform: scale(0.4);
}

.hidden {
  opacity: 0;
}

.teamWrapper {
  width: 100%;
}

.teamDescription {
  margin: 0 auto;
  width: calc(9/12 * 100%);
  margin-bottom: 6rem;
  text-align: center;
}

.teamValues {
  margin: 0 auto;
  width: calc(9/12 * 100%);
  margin-top: 6rem;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.5;

  strong {
    font-weight: 400;
  }
}

.testimonialsHeader {
  margin: 0;
}

.rocketContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.rocket,
.rocketTrail {
  position: absolute;
}

.rocket {
  @include css-lock(75, 250, 320, 1500, height, px);
  @include css-lock(-70, -376, 320, 1500, top, px);
  @include css-lock(25, 166, 320, 1500, left, px);
  transform: rotateY(-180deg) rotateZ(50deg);
}

.rocketTrail {
  @include css-lock(136, 680, 320, 1500, width, px);
  @include css-lock(78, 398, 320, 1500, height, px);
  @include css-lock(-12, -200, 320, 1500, top, px);
  @include css-lock(63, 270, 320, 1500, left, px);
}

.contact {
  a {
    @extend %accentLink;
  }

  .planet {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: auto;
  }
}

.teamExperience {
  .parsecs {
    position: relative;
    &::after {
      content: "That's about 24 light years!";
      position: absolute;
      bottom: 3.5rem;
      left: 0;
      right: 0;
      font-weight: 400;
      font-size: 1rem;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &:hover {
    .parsecs::after {
      opacity: 1;
    }
  }
}
