@import 'src/variables.global';
@import 'src/include-media.global';

$border-size: 5px;
$dash-size: 10px;

.teammatesWrapper {
  position: relative;
  width: 100%;
}


%bgDash {
  border: none;
  background: rgba(255,255,255, 0.5);
  height: $dash-size;
  transform: skew(-20deg);
  top: calc(#{$teammate-width} / 2 - #{($dash-size - $border-size) / 2});
  position: absolute;
  width: 100%;
  margin: 0;
}

.teammates {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;

  @include media('<=tablet') {
    flex-direction: column;
  }
}

.teammatesBackgroundDash {
  @extend %bgDash;

  @include media('<=tablet') {
    display: none;
  }
}

.mobileTeammatesBackgroundDash {
  @extend %bgDash;
  display: none;

  @include media('<=tablet') {
    top: calc(#{$teammate-width} / 2 - #{$dash-size - $border-size} / 2 - 1rem);
    display: block;
    z-index: -1;
  }
}

.teammate {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include media('<=tablet') {
    width: calc(100% - 2rem);
  }
}

.photo {
  img {
    border-radius: 50%;
    width: $teammate-width + $border-size;
    height: 100%;
    max-height: $teammate-width + $border-size;
    border: $border-size solid #8c8f94;

    @include media('<=tablet') {
      width: calc(#{$teammate-width + $border-size} - 2rem);
      margin: 0 auto;
    }
  }
}

.details {
  position: relative;

  span {
    $margin: 15px;
    font-size: large;
    border-radius: 2px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: calc(100% - #{2*$margin});
    width: calc(100% - #{2*$margin});
    background: rgba($background-color, 0.8);
    text-shadow: 2px 2px #333;
    color: white;
    padding: $margin;
  }
}

.skewedBackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(170, 200, 255, 0.3);
  transform: skew(-20deg);
}

.skills {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
