@import 'src/blocks.global';
@import 'src/include-media.global';

:root {
  --nav-item-padding: 0.5rem;
}

.navBackground {
  z-index: 1;

  transition: background 0.3s;

  &.stickyNavBackground {
    background: $background-color;
  }
}

.nav {
  @extend %centered;

  padding: $home-offset 0;
  font-family: $font-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $home-size;

  a.navLink,
  a.navLink:link,
  a.navLink:visited {
    color: $accent-color;
    cursor: pointer;
    display: inline-block;
    flex: 1;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    height: $home-size;
    line-height: $home-size;

    &.homeLink {
      font-family: $font-brand;
      font-size: $home-size;
      line-height: 1;
      letter-spacing: 3px;
      opacity: 1;
      color: white;
      // subtle glow
      text-shadow: 0 0 0 $accent-color;
      transition: text-shadow 0.3s;
      white-space: nowrap;
      -webkit-tap-highlight-color: transparent;
      -moz-tap-highlight-color: transparent;

      &:hover,
      &.active {
        text-shadow: 0 0 10px $accent-color;
      }

      @include media('<=1280px') {
        $size: 4.5rem;
        font-size: $size;
        line-height: $size;
        height: $size;
      }

      @include media('<=tablet') {
        $size: 3.5rem;
        font-size: $size;
        line-height: $size;
        height: $size;
      }
    }

    &:hover,
    &.homeLink,
    &.active {
      color: white;
      opacity: 1;
    }

    @include media('<=1280px') {
      &:not(.homeLink) {
        display: none;
      }
    }
  }

  @include media('<=desktop') {
    padding: $home-offset / 2 0;
    min-height: 3.5rem;
  }


}
