@import './variables';

$base-size: 5rem;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 960px;
  width: calc(10/12 * 100%);
  margin: 0 auto;
  flex-direction: column;

  h1, h2 {
    font-family: 'Lato', sans-serif;
    line-height: 1;
    margin: 0;
    font-weight: 200;
  }

  h1 {
    font-size: $base-size;
    position: relative;
    bottom: $home-size;
  }

  h2 {
    font-size: $base-size - 2rem;
  }
}
