@import './variables';

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 960px;
  width: calc(10/12 * 100%);
  margin: 0 auto;
  flex-direction: column;

  h1, h2 {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1;
    margin: 0;
  }

  h1 {
    font-size: 5rem;
    font-weight: 200;
    position: relative;
    bottom: $home-size;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
  }
}
