@import './variables';
$spacing: 32px;

.technologies {
  column-count: 3;
  column-gap: $spacing / 2;
  width: 100%;
  padding: 16px 32px;
}

.technology {
  display: inline-block;
  width: 100%;
  padding: $spacing / 2;
  border-radius: 5px;
  transition: background 0.3s, border-color 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.05);
  }

  span, svg {
    max-height: 300px;
    width: 100%;
  }
}
