@import 'src/variables.global';
@import 'src/include-media.global';

.testimonials {
  * {
    min-height: 0;
    min-width: 0;
  }

  :global(.slick-next) {
    right: 0;
  }

  :global(.slick-prev) {
    left: 0;
  }

  width: calc(8/12 * 100%);

  .testimonial {
    $size: 10rem;
    min-height: $size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $size / 2 0;

    h4 {
      display: block;
      margin: 0;
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
    }

    span {
      font-weight: 300;
    }

    @include media('<=desktop') {
      h4 {
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }

    @include media('<tablet') {
      margin: 1rem 0;
    }

    @include media('<=phone') {
      margin: 0;
    }
  }

  :global(.slick-dots) {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      display: inline-block;

      button,
      button:active {
        border: 1px solid $accent-color;
        border-radius: 1px;
        background: transparent;
        color: transparent;
        width: 10px;
        height: 10px;
        margin: 0 2px;
        padding: 0;
        cursor: pointer;
        transition: background 0.3s, border-color 0.3s;
        outline: none;

        &:hover {
          border: 1px solid white;
        }
      }

      &:global(.slick-active) {
        button {
          background: white;
          border: 1px solid white;
        }
      }
    }
  }
}
