@import './variables.global';
@import './include-media.global';

$scrollbar-hiding-offset: 3000px;
$scrollbar-size: 15px;

%centered {
  width: calc(8 / 12 * 100%);
  margin: 0 auto;

  @include media('<=tablet') {
    width: calc(10 / 12 * 100%);
  }

  @include media('<=phone') {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }
}

%invisibleScrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(0,0,0,1) #{$home-size/2});
  // Bye bye, scrollbar
  width: calc(100% + #{$scrollbar-hiding-offset});
  padding-right: $scrollbar-hiding-offset - $scrollbar-size;
  outline: 0;
}
