$accent-color: rgb(170, 200, 255);
$home-size: 4vw;
$home-offset: 2rem;
$star-color: rgba(255, 255, 255, 0.7);
$star-dimension: 3000;
$star-speed: 200;
$background-color: #090a0f;
$teammate-height: 250px;
$teammate-width: $teammate-height / 1.62; // golden ratio
$margin: 15px;
$background-color-light: #1b2735;

$font-brand: 'Airstream', sans-serif;
$font-secondary: 'Lato', sans-serif;
